.buttons-home{
    margin-top: 20px;
    display: flex;
    gap: 50px;

    
}


button{
    background-color: var(--clr-dark-red);
    border-radius: 50px;
    color: var(--clr-white);
    height: 50px;
    width: 250px;
    border: 1px solid var(--clr-white);
    cursor: pointer;
    transition: background-color 0.2s ease;

}

button:hover{
    background-color: var(--clr-red-light);
}

.space-buttons{
    display: flex;
    gap: 40px;
    margin-bottom: 60px;
}


