.buttons-home{
    margin-top: 20px;
    display: flex;
    gap: 50px;

    
}


.button-main{
    background-color: var(--clr-dark-red);
    border-radius: 50px;
    color: var(--clr-white);
    height: 50px;
    width: 250px;
    border: 1px solid var(--clr-white);
    cursor: pointer;
    transition: background-color 0.2s ease;

}

.button-main:hover{
    background-color: var(--clr-red-light);
}

.space-buttons{
    display: flex;
    gap: 40px;
    margin-bottom: 60px;
}

  .garden-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
  }

    .buttton-right {
    display: flex;
    gap: 30px; 
  }

  .btn-plus{
    width: 70px;
    background-color: var(--clr-green);
    color: var(--clr-white);
    border-radius: 30px;
    border: 0;
    cursor: pointer;
  }

  .btn-plus:hover{
    background-color: var(--clr-green-light);
  }

  .btn-minus{
    width: 70px;
    background-color: var(--clr-dark-red);
    color: var(--clr-white);
    border-radius: 30px;
    border: 0;
    cursor: pointer;
  }

  .btn-minus:hover{
    background-color: var(--clr-red-light);
  }

  .buttons-store{
    display: flex;
    gap: 20px;
    

  }

  .btn-buy{
    background-color: var(--clr-blue);
    border-radius: 30px;
    color: var(--clr-white);
    width: 170px;
    border: 0;
    cursor: pointer;
  }

  .btn-buy:hover{
    background-color: var(--clr-light-blue);
  }


