@layer form {

    .card{
        
        background-color: var(--clr-brown);
        width: 650px;
        height: 800px;
        border-radius: 20px;

    }

    .card-register{
        background-color: var(--clr-brown);
        width: 650px;
        height: 900px;
        border-radius: 20px;
    }

    .login{
        display: grid;
        align-items: center;
        justify-content: center;
    }

    .login h1{
        margin-top: 40px;
    }

    .form{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        
    }

    .form label{
        width: 400px;
        text-align: left;
        
    }

    .input{
        height: 50px;
        width: 400px;
        margin-bottom: 50px;
        margin-top: 14px;
        border-radius: 5px;
        border: 3px solid var(--clr-white);
        background-color: hsla(0, 0%, 100%, 0.500);
        color: var(--clr-white);
    
        
    }

    .input::placeholder{
        color: var(--clr-white);
    }




    
}