@layer grid{

.home-view{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.login-view{
    display: flex;
    justify-content: center;
    align-items: center;
}

}

