@layer grid{

.home-view{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.login-view{
    display: flex;
    justify-content: center;
    align-items: center;
}

.earth-row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 80px;
    margin-top: 10px;
  }

  .earth-grid {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(4, 80px);
  }

  .earth-tile img {
    width: 80px;
    height: 80px;
  }


}

